<div>
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item block" id="{{i + thread.id}}" *ngFor="let thread of commentThreads; let i = index;" [ngClass]="{'last-item': i === commentThreads.length-1}">
      <div class="mdl-list__item-primary-content">
        <div>
          <div class="commentHeader">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored tone"
                    (click)="analyzeComment(thread.snippet.topLevelComment.snippet.textOriginal, i)" [disabled]="isAnalyzed[i]">
              <i class="material-icons">sentiment_satisfied</i>
            </button>
            <span class="author">
              <i class=""><img src={{thread.snippet.topLevelComment.snippet.authorProfileImageUrl}}> </i>
              {{thread.snippet.topLevelComment.snippet.authorDisplayName}}
            </span>
            <div class="loader" *ngIf="isLoading[i]"><div class="loading"></div></div>
          </div>
          <br>
          <p *ngIf="!isAnalyzed[i]" id ="commentText" class="comment" [ngClass]="{'show-less': !isExpanded[i] && isLong(thread)}" innerHTML="{{ thread.snippet.topLevelComment.snippet.textDisplay }}"> </p>
          <app-analysis *ngIf="!isLoading[i] && isAnalyzed[i]" [analysisJSON]="data"> </app-analysis>
          <span *ngIf="!isAnalyzed[i] && isLong(thread)" id="readMoreButton" class="astext" (click)="changeComment(i)">{{ isExpanded[i] ? 'Show less': 'Read more' }}</span><br><br>
          <span style="float: left;">
            <i class="material-icons thumb">thumb_up</i>
            {{ thread.snippet.topLevelComment.snippet.likeCount | videoLikesViews}}
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>

  <div class="loader loader-progress" *ngIf="loadingInProgress">
    <div class="loading"></div>
  </div>

