.block {
  padding: 25px;
  margin-left: 160px;
}

.tone {
  margin-right: 25px;
}

.comment {
  margin-left: 40px;
  word-wrap: break-word;
}

.author {
  font-weight: bold;
  margin-bottom: 10px;
}
.commentButton {
  white-space:nowrap;
}

.loader {
  position: relative;
}

.thumb {
  margin-left: 40px;
}

br {
  line-height: 5px;
}
