<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation">
        <app-search [loadingInProgress]="loadingInProgress">
        </app-search>
      </nav>
    </div>
  </header>
  <div style ="width:100%; padding:.15rem;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" *ngIf="loading">
  </div>

  <main class="mdl-layout__content" LazyScroll (OnScrollMethod)="searchMore()" ScrollDistance="3">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>





