<div>
    <div><b>Document Tones:</b></div>
    <span class="" id="{{i}}" *ngFor="let tone of documentTones; let i = index;">
      <span class="">
        {{tone.tone_name}}:{{tone.score}} ||
      </span>
    </span><br />
    <table *ngIf="sentenceTones!==undefined" style =" table-layout: fixed;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th></th>
          <th class="mdl-data-table__cell--non-numeric">Sentences</th>
          <th *ngFor="let tone of tones" class="mdl-data-table__cell--non-numeric">{{tone.tone_name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{i}}" *ngFor="let sentence of sentenceTones; let i = index;">
          <td data-label="" class="mdl-data-table__cell--non-numeric cellButton" >
            <button (click)="showSentence[i] = !showSentence[i]" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </td>
          <td *ngIf="!showSentence[i]" data-label="Sentence:" class="mdl-data-table__cell--non-numeric">
            {{i}}
          </td>
          <td *ngIf="showSentence[i]" class="mdl-data-table__cell--non-numeric sentenceCell">
            <span class="sentence">{{sentence.text}}</span>
          </td>
          <ng-container *ngIf="sentence.tone_categories[0] !== undefined">
            <ng-container *ngFor="let tone of sentence.tone_categories[0].tones; let i = index;">
                <td [attr.data-label] = "tone.tone_name"  class="mdl-data-table__cell--non-numeric">
                  <span [ngClass]="getClass(tone)">{{tone.score}}</span>
                </td>
            </ng-container>
           </ng-container>
        </tr>
      </tbody>
    </table>
</div>
